[client-mariadb]
ssl_cert = /etc/mysql/certs/client-cert.pem
ssl_key = /etc/mysql/certs/client-key.pem

[mariadb]
ssl_ca = /etc/mysql/certs/ca-cert.pem
ssl_cert = /etc/mysql/certs/server-cert.pem
ssl_key = /etc/mysql/certs/server-key.pem

bind-address = *
require_secure_transport = ON
tls_version = TLSv1.3

